---
layout: layout
---

<% if(is_home()){ %>
<style>

    .custom-haojen-container .post-preview:nth-of-type(1),
    .custom-haojen-container .post-preview-poetry:nth-of-type(1) {
        text-align: center;
        background-repeat: no-repeat;
        border-radius: 3px;
        background-size: cover;
        padding: 0;
        height: 300px;
        display: table;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.16);
    }

    /*去掉诗歌的背景图片*/
    .custom-haojen-container .post-preview-poetry:nth-of-type(1) {
        background-image: none !important;
        background-color: rgba(255, 248, 220, 0.5);
    }

    .custom-haojen-container .post-preview:nth-child(1) h2,
    .custom-haojen-container .post-preview:nth-child(1) .post-meta,
    .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
        text-shadow: 0 0 40px rgba(0, 0, 0, 1);
        letter-spacing: 1px;
        color: #fff;
        margin-top: 0;
        padding-left: 60px;
        padding-right: 60px;
    }

    .custom-haojen-container .post-preview:nth-child(1) .post-meta {
        font-size: .9em;
        font-weight: 300;
        margin-top: 0;
    }

    .custom-haojen-container .post-preview-poetry:nth-child(1) .post-subtitle {
        letter-spacing: 6px;
        font-size: 18px;
        font-family: unset;
        font-weight: 400;
        color: rgba(0, 0, 0, .75)
    }

    /*不显示摘要*/
    .custom-haojen-container .post-preview:nth-child(1) .post-content-preview {
        display: none
    }

    /*只第一个显示背景图片*/
    .custom-haojen-container .post-preview:not(:nth-child(1)) {
        background-image: none !important;
    }

    /*第一个分界线去掉*/
    .custom-haojen-container hr:nth-of-type(1) {
        display: none;
    }

    /*主题*/
    .custom-haojen-container .post-preview:nth-of-type(1) > a {
        display: table-cell;
        vertical-align: middle;
    }

    /*诗词标题*/
    .custom-haojen-container .post-preview-poetry:nth-child(1) h2 {
        font-size: 35px;
        font-family: STKaiti;
        color: rgba(0, 0, 0, .8);
    }

    .custom-haojen-container .post-preview-poetry:nth-of-type(1) .post-meta {
        color: #0e2231;
    }

    @media (max-width: 768px) {
        .custom-haojen-container .post-preview:nth-child(1) {
            height: 240px;
        }

        .custom-haojen-container .post-preview-poetry:nth-child(1) h2 {
            font-size: 28px !important;
            margin-top: 0;
        }

        .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
            font-size: 18px;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
        }

        .custom-haojen-container .post-preview:nth-of-type(1) > a {
            padding: 20px
        }
    }

    /*手机屏幕*/
    @media (max-width: 400px) {
        .custom-haojen-container .post-preview:nth-child(1) {
            height: 195px;
        }

        .custom-haojen-container .post-preview-poetry:nth-child(1) h2 {
            font-size: 20px !important;
        }

        .custom-haojen-container .post-preview:nth-child(1) .post-subtitle {
            font-size: 16px;
        }

        .custom-haojen-container .post-preview:nth-child(1) a {
            padding: 30px 20px;
        }
    }
</style>
<% } %>
<!-- Page Header -->
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 visible-xs-block visible-sm-block">
    <div class="row">
        <header class="intro-header">
            <div class="container">
                <div class="site-heading text-center">
                    <div class="about-me">
                        <!--移动端头部显示-->
                        <img src="<%= config['sidebar-avatar'] %>"/>
                        <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                        <p><%= config['sidebar-about-description'] %></p>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<!-- Main Content -->
<div class="container custom-haojen-container">
    <!-- Post Container -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">
            <%- page.content%>
        </div>
        <!-- Sidebar Container -->
        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">

            <!-- About Me -->
            <section class="visible-md visible-lg" style="padding: 0 18px">
                <div class="short-about">
                    <!--侧边栏头像-->
                    <% if(config['sidebar-avatar']) { %>
                    <img src="<%= config['sidebar-avatar'] %>"/>
                    <% } %>
                    <h5><a href="<%= config.root %>about/"><%= config.author %></a></h5>
                    <% if(config['sidebar-about-description']) { %>
                    <p><%= config['sidebar-about-description'] %></p>
                    <% } %>
                    <hr>
                    <!-- SNS Link 社交 -->
                    <ul class="list-inline">
                        <% if (config.RSS) { %>
                        <li>
                            <a href="<%= config.root + 'feed.xml' %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                        <% if (config.twitter_username) { %>
                        <li>
                            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                        <% if (config.zhihu_username) { %>
                        <li>
                            <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa  fa-stack-1x fa-inverse">知</i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.weibo_username) { %>
                        <li>
                            <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.facebook_username) { %>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.github_username) { %>
                        <li>
                            <a target="_blank" href="https://github.com/<%= config.github_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>

                        <% if (config.linkedin_username) { %>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>

            <!-- Featured Tags  标签 -->
            <% if(config['featured-tags']) { %>
            <section>
                <div class="tags">
                    <% site.tags.map(function(tag){ %>
                    <% if(tag.length > config['featured-condition-size']) { %>
                    <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"
                       rel="<%= tag.length %>"><%= tag.name %></a>
                    <% } %>
                    <% }) %>
                </div>
            </section>
            <% } %>

            <% if(config.friends) { %>
            <hr>
            <h5 style="text-align: center;">Friends</h5>
            <ul class="list-inline" style="text-align: center;">
                <% config.friends.forEach(function(friend){ %>
                <li><a href="<%= friend.href %>" target="_blank"><%= friend.title %></a></li>
                <% }); %>
            </ul>
            <% } %>

        </div>
    </div>
</div>
